*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    list-style: none !important;
    text-decoration: none !important;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow: hidden;
}
.view-heigh{
    height: 100vh;
}
.fade-down{
    animation: fadeDown 1s ease-out;
}
.shadow{
    animation: shadow 2s alternate infinite ease;
}
.shadow-warning{
    animation: shadoWarning 3s alternate infinite ease;
}
.text-expand {
	-webkit-animation: text-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: text-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes fadeDown {
    from{
        top: 500px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}
@keyframes shadow {
    from{
        filter: drop-shadow(0 0 0 #2f2fe82c)
    }
    to{
        filter: drop-shadow(0 12px 10px #2f2fe82c)
    }
}
@keyframes shadoWarning {
    from{
        filter: drop-shadow(0 0 0 #a48a245b)
    }
    to{
        filter: drop-shadow(0 5px 5px #a48a245b)
    }
}
@-webkit-keyframes text-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
@keyframes text-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  